{
  "agents": {
    "defaults": {
      "model": {
        "primary": "qclaw/pool-glm-5.2"
      },
      "workspace": "${QCLAW_USER_DATA_DIR}\\workspace",
      "maxConcurrent": 3,
      "timeoutSeconds": 72000,
      "heartbeat": {
        "isolatedSession": true,
        "lightContext": true,
        "model": "qclaw/modelroute",
        "every": "2h"
      },
      "memorySearch": {
        "enabled": false,
        "provider": "auto"
      },
      "compaction": {
        "reserveTokensFloor": 80000,
        "memoryFlush": {
          "enabled": true,
          "softThresholdTokens": 45000
        }
      },
      "subagents": {
        "allowAgents": [
          "main",
          "agent-bdd9ff1a",
          "ds4ygtfdv3z7mmxn",
          "bg0wgtn9jlge3doh",
          "ua58rsb93veqtxl7",
          "ic7xj738h4v8p6g7",
          "worldview-architect",
          "media-producer",
          "biz-strategist"
        ]
      },
      "contextPruning": {
        "mode": "cache-ttl",
        "ttl": "5m",
        "softTrimRatio": 0.3,
        "hardClearRatio": 0.5
      }
    },
    "list": [
      {
        "id": "main",
        "default": true,
        "reasoningDefault": "stream",
        "name": "QClaw",
        "identity": {
          "name": "QClaw"
        },
        "skills": [
          "find-skills",
          "qclaw-cron-skill",
          "qclaw-env",
          "qclaw-rules",
          "qclaw-skill-creator",
          "xbrowser",
          "another_them",
          "persona-switch",
          "docx",
          "email-skill",
          "pdf",
          "xlsx",
          "aippt",
          "qq-email-skill",
          "tencent-docs",
          "ima",
          "tomato-novelist",
          "self-improvement",
          "qclaw-generate-image",
          "tencentmap-jsapi-gl-skill",
          "skill-vetter",
          "self-improving",
          "bilibili-downloader",
          "video-frames",
          "openai-whisper"
        ]
      },
      {
        "id": "bg0wgtn9jlge3doh",
        "name": "质量诊断官",
        "workspace": "${QCLAW_USER_DATA_DIR}\\workspace-bg0wgtn9jlge3doh",
        "agentDir": "${QCLAW_USER_DATA_DIR}\\agents\\bg0wgtn9jlge3doh\\agent",
        "identity": {
          "name": "质量诊断官",
          "emoji": "https://webcdn.m.qq.com/qclaw/zhuanjia-guonei-1/duihua/%E5%9B%BE%E7%89%870421/Property%201%3D%E6%8F%90%E7%A4%BA%E8%AF%8D%E5%B7%A5%E7%A8%8B%E5%B8%88.png",
          "avatar": "https://webcdn.m.qq.com/qclaw/zhuanjia-guonei-1/duihua/%E5%9B%BE%E7%89%870421/Property%201%3D%E6%8F%90%E7%A4%BA%E8%AF%8D%E5%B7%A5%E7%A8%8B%E5%B8%88.png"
        },
        "skills": [
          "qclaw-rules",
          "qclaw-env",
          "find-skills",
          "qclaw-skill-creator",
          "tomato-novelist",
          "self-improvement",
          "ima",
          "tencent-docs",
          "aippt",
          "qq-email-skill"
        ],
        "reasoningDefault": "stream"
      },
      {
        "id": "ic7xj738h4v8p6g7",
        "name": "记忆管家",
        "workspace": "${QCLAW_USER_DATA_DIR}\\workspace-ic7xj738h4v8p6g7",
        "agentDir": "${QCLAW_USER_DATA_DIR}\\agents\\ic7xj738h4v8p6g7\\agent",
        "identity": {
          "name": "记忆管家",
          "emoji": "https://webcdn.m.qq.com/qclaw/agent0507/11/agent/tup/%E4%B8%AA%E4%BA%BA%E7%9F%A5%E8%AF%86%E5%BA%93%E6%9E%B6%E6%9E%84%E5%B8%88.png",
          "avatar": "https://webcdn.m.qq.com/qclaw/agent0507/11/agent/tup/%E4%B8%AA%E4%BA%BA%E7%9F%A5%E8%AF%86%E5%BA%93%E6%9E%B6%E6%9E%84%E5%B8%88.png"
        },
        "skills": [
          "qclaw-rules",
          "qclaw-env",
          "find-skills",
          "qclaw-skill-creator",
          "qclaw-cron-skill",
          "self-improvement",
          "ima",
          "tencent-docs",
          "aippt",
          "qq-email-skill"
        ],
        "reasoningDefault": "stream"
      },
      {
        "id": "ua58rsb93veqtxl7",
        "name": "技术制作人",
        "workspace": "${QCLAW_USER_DATA_DIR}\\workspace-ua58rsb93veqtxl7",
        "agentDir": "${QCLAW_USER_DATA_DIR}\\agents\\ua58rsb93veqtxl7\\agent",
        "identity": {
          "name": "技术制作人",
          "emoji": "https://webcdn.m.qq.com/qclaw/zhuanjia-guonei-1/duihua/%E5%9B%BE%E7%89%870421/Property%201%3DAI%20%E5%B7%A5%E7%A8%8B%E5%B8%88.png",
          "avatar": "https://webcdn.m.qq.com/qclaw/zhuanjia-guonei-1/duihua/%E5%9B%BE%E7%89%870421/Property%201%3DAI%20%E5%B7%A5%E7%A8%8B%E5%B8%88.png"
        },
        "skills": [
          "qclaw-rules",
          "qclaw-env",
          "find-skills",
          "qclaw-skill-creator",
          "xbrowser",
          "qclaw-generate-image",
          "bilibili-downloader",
          "video-frames",
          "openai-whisper",
          "tencent-docs",
          "aippt",
          "ima",
          "qq-email-skill"
        ],
        "reasoningDefault": "stream"
      },
      {
        "id": "ds4ygtfdv3z7mmxn",
        "name": "小说故事创作专家",
        "workspace": "${QCLAW_USER_DATA_DIR}\\workspace-ds4ygtfdv3z7mmxn",
        "agentDir": "${QCLAW_USER_DATA_DIR}\\agents\\ds4ygtfdv3z7mmxn\\agent",
        "identity": {
          "name": "小说故事创作专家",
          "emoji": "https://webcdn.m.qq.com/qclaw/agent0507/11/agent/tup/%E5%B0%8F%E8%AF%B4%E6%95%85%E4%BA%8B%E5%88%9B%E4%BD%9C%E4%B8%93%E5%AE%B6.png",
          "avatar": "https://webcdn.m.qq.com/qclaw/agent0507/11/agent/tup/%E5%B0%8F%E8%AF%B4%E6%95%85%E4%BA%8B%E5%88%9B%E4%BD%9C%E4%B8%93%E5%AE%B6.png"
        },
        "skills": [
          "qclaw-rules",
          "qclaw-env",
          "find-skills",
          "qclaw-skill-creator",
          "tomato-novelist",
          "ima",
          "tencent-docs",
          "qclaw-generate-image",
          "aippt",
          "qq-email-skill"
        ],
        "reasoningDefault": "stream"
      },
      {
        "id": "agent-bdd9ff1a",
        "name": "审核专员",
        "workspace": "${QCLAW_USER_DATA_DIR}\\workspace-agent-bdd9ff1a",
        "agentDir": "${QCLAW_USER_DATA_DIR}\\agents\\agent-bdd9ff1a\\agent",
        "identity": {
          "name": "审核专员",
          "avatar": "https://aiarea.qclaw.qq.com/qclawimage/avatar/default/diexishaonian.png"
        },
        "skills": [
          "qclaw-rules",
          "qclaw-env",
          "find-skills",
          "qclaw-skill-creator",
          "tomato-novelist",
          "ima",
          "tencent-docs",
          "aippt",
          "qq-email-skill"
        ],
        "reasoningDefault": "stream"
      },
      {
        "id": "worldview-architect",
        "name": "世界观架构师",
        "workspace": "${QCLAW_USER_DATA_DIR}\\workspace-worldview-architect",
        "agentDir": "${QCLAW_USER_DATA_DIR}\\agents\\worldview-architect\\agent",
        "identity": {
          "name": "世界观架构师"
        },
        "skills": [
          "qclaw-rules",
          "qclaw-env",
          "find-skills",
          "qclaw-skill-creator",
          "ima",
          "tencent-docs",
          "aippt",
          "qq-email-skill"
        ],
        "reasoningDefault": "stream"
      },
      {
        "id": "media-producer",
        "name": "多媒体制作人",
        "workspace": "${QCLAW_USER_DATA_DIR}\\workspace-media-producer",
        "agentDir": "${QCLAW_USER_DATA_DIR}\\agents\\media-producer\\agent",
        "identity": {
          "name": "多媒体制作人"
        },
        "skills": [
          "qclaw-rules",
          "qclaw-env",
          "find-skills",
          "qclaw-skill-creator",
          "qclaw-generate-image",
          "bilibili-downloader",
          "video-frames",
          "openai-whisper",
          "tencent-docs",
          "aippt",
          "ima",
          "qq-email-skill"
        ],
        "reasoningDefault": "stream"
      },
      {
        "id": "biz-strategist",
        "name": "商业化策略师",
        "workspace": "${QCLAW_USER_DATA_DIR}\\workspace-biz-strategist",
        "agentDir": "${QCLAW_USER_DATA_DIR}\\agents\\biz-strategist\\agent",
        "identity": {
          "name": "商业化策略师"
        },
        "skills": [
          "qclaw-rules",
          "qclaw-env",
          "find-skills",
          "qclaw-skill-creator",
          "ima",
          "tencent-docs",
          "aippt",
          "qq-email-skill"
        ],
        "reasoningDefault": "stream"
      }
    ]
  },
  "skills": {
    "limits": {
      "maxSkillsPromptChars": 20000
    },
    "load": {
      "extraDirs": [
        "${QCLAW_BUNDLED_CONFIG_DIR}\\skills",
        "~/.agents/skills",
        "${QCLAW_USER_DATA_DIR}\\skills",
        "${QCLAW_USER_DATA_DIR}\\skillhub-skills"
      ]
    },
    "entries": {
      "skill-creator": {
        "enabled": false
      },
      "qclaw-skill-creator": {
        "enabled": true
      },
      "aippt": {
        "enabled": true
      },
      "ima": {
        "enabled": true
      },
      "qq-email-skill": {
        "enabled": true
      },
      "tencent-docs": {
        "enabled": true
      },
      "tencent-meeting-mcp": {
        "enabled": true
      },
      "weiyun": {
        "enabled": true
      },
      "skill-vetter": {
        "enabled": true
      },
      "self-improvement": {
        "enabled": true
      },
      "self-improving": {
        "enabled": true
      },
      "bilibili-downloader": {
        "enabled": true
      },
      "video-frames": {
        "enabled": true
      },
      "openai-whisper": {
        "enabled": true
      },
      "imap-smtp-email": {
        "enabled": true
      }
    }
  },
  "models": {
    "mode": "merge",
    "pricing": {
      "enabled": false
    },
    "providers": {}
  },
  "tools": {
    "web": {
      "search": {
        "enabled": true,
        "provider": "yuanbao"
      }
    },
    "alsoAllow": [
      "sessions_spawn",
      "skillhub_install"
    ],
    "exec": {
      "pathPrepend": [
        "${QCLAW_BUNDLED_CONFIG_DIR}/bin",
        "${QCLAW_BUNDLED_CONFIG_DIR}/bin/node",
        "${QCLAW_BUNDLED_CONFIG_DIR}/bin/python",
        "${QCLAW_USER_DATA_DIR}/runtime-data/python/user-base/cpython-311-win32-x64/Python311/Scripts",
        "${QCLAW_BUNDLED_CONFIG_DIR}/bin/git"
      ]
    }
  },
  "browser": {
    "enabled": true,
    "defaultProfile": "openclaw",
    "ssrfPolicy": {
      "dangerouslyAllowPrivateNetwork": false
    }
  },
  "gateway": {
    "port": 61659,
    "mode": "local",
    "bind": "loopback",
    "auth": {
      "mode": "token",
      "token": "${QCLAW_GATEWAY_TOKEN}"
    },
    "controlUi": {
      "allowedOrigins": [
        "null",
        "file://"
      ]
    },
    "tailscale": {
      "mode": "off",
      "resetOnExit": false
    },
    "http": {
      "endpoints": {
        "chatCompletions": {
          "enabled": true
        }
      }
    }
  },
  "channels": {
    "wechat-access": {
      "enabled": true,
      "token": "${WECHAT_ACCESS_TOKEN}",
      "wsUrl": "${QCLAW_WECHAT_WS_URL}",
      "guid": "${WECHAT_GUID}",
      "userId": "${WECHAT_USER_ID}"
    }
  },
  "plugins": {
    "enabled": true,
    "allow": [
      "wechat-access",
      "qclaw-plugin",
      "qclaw-embedding",
      "memory-core",
      "ollama",
      "lossless-claw",
      "qclaw-llm-provider"
    ],
    "slots": {
      "contextEngine": "lossless-claw"
    },
    "load": {
      "paths": [
        "${QCLAW_BUNDLED_CONFIG_DIR}\\extensions"
      ]
    },
    "entries": {
      "wechat-access": {
        "enabled": true
      },
      "qclaw-plugin": {
        "enabled": true,
        "config": {},
        "hooks": {
          "allowConversationAccess": true
        }
      },
      "ollama": {
        "enabled": true
      },
      "lossless-claw": {
        "enabled": true,
        "config": {
          "dbPath": "${QCLAW_USER_DATA_DIR}\\memory\\lossless\\lcm.db",
          "contextThreshold": 0.6,
          "freshTailCount": 64,
          "freshTailMaxTokens": 40000,
          "incrementalMaxDepth": 5,
          "ignoreSessionPatterns": [
            "agent:*:cron:**",
            "**:heartbeat"
          ],
          "statelessSessionPatterns": [
            "agent:*:subagent:**"
          ],
          "skipStatelessSessions": true
        },
        "hooks": {
          "allowConversationAccess": true
        }
      },
      "qclaw-llm-provider": {
        "enabled": true,
        "config": {}
      }
    }
  },
  "messages": {
    "queue": {
      "mode": "followup"
    }
  },
  "session": {
    "reset": {
      "mode": "idle",
      "idleMinutes": 525600
    },
    "maintenance": {
      "pruneAfter": "365d",
      "maxEntries": 1000000,
      "resetArchiveRetention": false
    },
    "dmScope": "per-channel-peer"
  }
}